<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <title>Create a Custom Madlibs!</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
  </head>
  <body>
    <h1>Welcome to our Madlibs generator!</h1>
    <form action="/madlib" method="post">
     <label for="noun">Type a noun</label>
     <input id="noun" name="noun" type="text">
     <label for="adjective">Type an adjective</label>
     <input id="adjective" name="adjective" type="text">
     <label for="verb">Type a verb</label>
     <input id="verb" name="verb" type="text">
     <button type="submit">Go!</button>
    </form>
  </body>
</html>
